* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    background: rgb(0, 0, 255);
    padding: 20px;
}

.header__nav-container {
    font-size: 30px;
    text-transform: uppercase;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-link {
    font-size: 20px;
    color: brown;
}

.header__content {
    height: 500px;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: aliceblue;
    text-transform: uppercase;
}

.item {
    height: 50px;
    width: 50px;
    background: yellow;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.figure {
    display: flex;
    gap: 20px
}

.main {
    background: black;
    height: 100vh;
}

.main__block {
    display: flex;
    gap: 20px;
}

.main__item {
    width: 25%;
    height: 500px;
    background: paleturquoise;
}

.footer {
    padding: 50px 0;
}

p {
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px royalblue;
}